# Gradle
.gradle/
gradle-temp/
gradle-8.9-bin.zip
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
.kotlin/

# Android
local.properties
*.apk
*.aab
*.keystore
*.jks

# OS
.DS_Store
Thumbs.db

# Scripts
debug.bat

# Temp
deepseek api key get/

# Secrets
**/secrets.properties
**/google-services.json

# Python
__pycache__/
*.pyc
